<template>
  <div class="container mx-auto p-12 bg-gray-100 rounded-xl">
    <form @submit.prevent="addArticle()" class="mt-6">
      <h1 class="text-4xl uppercase font-bold from-current mb-8">Bai viet</h1>
      <div class="w-full">
        <input type="text" placeholder="Tiêu đề" class="w-2/3 h-10 text-center mb-6" v-model="title">
        <input type="text" placeholder="Nội dung" class="w-2/3 h-10 text-center mb-6" v-model="content">
        <br>
        <div>Danh mục</div>
        <select v-model="category">
          <option v-for="( category,indexCat ) in listCategory" :key="indexCat" :value="{category}">
            {{ category.name }}
          </option>
        </select>
        <br>
        <button class="border border-gray-400 rounded-full p-4 bg-blue-200">Thêm Bài viết
        </button>
      </div>
    </form>
    <button @click="test()">tesafgs</button>
    <div>
      <div>Danh sách bài viết</div>
      <div class="flex justify-center items-center gap-8" v-for="( article,indexArt ) in listArticle" :key="indexArt">
        <div>title : {{ article.title }}</div>
        <div>content : {{ article.content }}</div>
        <div>categoryId : {{ article.categoryId }}</div>
        <button class="border border-gray-400 rounded-full p-4 bg-blue-200" @click="deleArticle(article.id)">Xoá
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import {db} from "@/firebase";
import {collection, addDoc, deleteDoc, doc, onSnapshot} from "firebase/firestore";

export default {
  name: "Aritcle",
  data() {
    return {
      title: '',
      content: '',
      category: '',
      listCategory: [],
      listArticle: [],
    }
  },
  methods: {
    test() {
      console.log(this.listArticle);
    },

    async addArticle() {
      const collectionRef = collection(db, "articles");
      try {
        await addDoc(collectionRef, {
          title: this.title,
          content: this.content,
          categoryId: this.category.category.id,
        });
      } catch (e) {
        console.log(e);
      }
      this.title = '';
      this.content = '';
      this.category = '';
    },

    async deleCategory(id) {
      const docRef = doc(db, "categories", id);
      await deleteDoc(docRef);
    },

    async deleArticle(id) {
      const docRef = doc(db, "articles", id);
      await deleteDoc(docRef);
    },
  },
  async mounted() {
    const collectionRef = collection(db, "categories");
    onSnapshot(collectionRef, (querySnapshot) => {
      this.listCategory = [];
      querySnapshot.forEach((doc) => {
        this.listCategory.push({id: doc.id, name: doc.data().name});
      });
    });
    const collectionRef2 = collection(db, "articles");
    onSnapshot(collectionRef2, (querySnapshot) => {
      this.listArticle = [];
      querySnapshot.forEach((doc) => {
        this.listArticle.push({id: doc.id, title: doc.data().title, content: doc.data().content, categoryId: doc.data().categoryId});
      });
    });
  }
}
</script>

<style scoped>

</style>