<template>
  <div class="container mx-auto p-12 bg-gray-100 rounded-xl">
    <form @submit.prevent="addCategory()" class="mt-6">
      <h1 class="text-4xl uppercase font-bold from-current mb-8">Category</h1>
      <div class="w-full">
        <input type="text" placeholder="Danh mục" class="w-2/3 h-10 text-center mb-6" v-model="category">
        <button class="border border-gray-400 rounded-full p-4 bg-blue-200" >Thêm Danh mục
        </button>
      </div>
    </form>
    <div class="flex justify-center items-center" v-for="( category,indexCat ) in listCategory" :key="indexCat">
      <div>{{ category.name }}</div>
      <button class="border border-gray-400 rounded-full p-4 bg-blue-200" @click="deleCategory(category.id)">Xoá
      </button>
    </div>
  </div>
</template>

<script>
import {db} from "@/firebase";
import {collection, addDoc, deleteDoc, doc, onSnapshot} from "firebase/firestore";

export default {
  name: "Category",
  data() {
    return {
      category: '',
      listCategory: [],
    }
  },
  methods: {
    async addCategory() {
      if (!this.category) {
        alert("Nhập vào rồi hãy submit bạn ơi");
        return;
      }
      const collectionRef = collection(db, "categories");
      try {
        await addDoc(collectionRef, {
          name: this.category,
        });
      } catch (e) {
        console.log(e);
      }
      this.category = '';
    },
    async deleCategory(id) {
      const docRef = doc(db, "categories", id);
      await deleteDoc(docRef);
    },
  },
  async mounted() {
    const collectionRef = collection(db, "categories");
    onSnapshot(collectionRef, (querySnapshot) => {
      this.listCategory = [];
      querySnapshot.forEach((doc) => {
        this.listCategory.push({id: doc.id, name: doc.data().name});
      });
    });
  }
}
</script>

<style scoped>

</style>