<template>
  <div class="min-h-screen bg-yellow-400 flex justify-center items-center py-20">
    <div class="bg-white p-4 flex items-center flex-wrap">
      <nav aria-label="breadcrumb">
        <ol class="flex leading-none text-blue-500 divide-x">
          <li class="pr-4">
            <router-link :to="{ name: 'home'}" class="inline-flex items-center">
              <svg class="w-5 h-auto fill-current mx-2 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M10 19v-5h4v5c0 .55.45 1 1 1h3c.55 0 1-.45 1-1v-7h1.7c.46 0 .68-.57.33-.87L12.67 3.6c-.38-.34-.96-.34-1.34 0l-8.36 7.53c-.34.3-.13.87.33.87H5v7c0 .55.45 1 1 1h3c.55 0 1-.45 1-1z"/></svg>
            </router-link>
          </li>

          <li class="inline-flex items-center px-4 text-gray-700" aria-current="page">
            <router-link :to="{ name : 'categories'}" class="text-gray-600 hover:text-blue-500">
              Danh mục
            </router-link>
          </li>

          <li class="inline-flex items-center px-4 text-gray-700" aria-current="page">
            <router-link :to="{name : 'article'}" class="text-gray-600 hover:text-blue-500">
              Bài viết
            </router-link>
          </li>

        </ol>
      </nav>
    </div>
  </div>
</template>

<script>
import {homeService} from "@/services/homeService";

export default {
  name: `Home`,
  data() {
    return {
      keyword: '',
      listArticle: [],
      page: 1
    }
  },
  methods: {
    async searchArticles() {
      try {
        const resp = await homeService.getArticles(this.keyword, this.page);
        this.listArticle = resp.data.articles;
      } catch (e) {
        console.log(e);
      }
    },
    favoriteArticle(article) {
      let favorite = localStorage.getItem('favorite');
      if (!favorite) {
        let favorite = [];
        favorite.push(article);
        alert("Thêm bài viết thành công");
        localStorage.setItem('favorite', JSON.stringify(favorite));
        return
      } else {
        favorite = JSON.parse(favorite);
        let check = favorite.findIndex(item => item.url == article.url);
        if (check > -1) {
          alert("Đã yêu thích");
          return;
        } else {
          favorite.push(article);
          alert("Thêm bài viết yêu thích thành công");
          localStorage.setItem('favorite', JSON.stringify(favorite));
          return;
        }
      }
    },
    async handleScroll() {
      let isLoad = false;
      if (window.scrollY + window.innerHeight >= document.body.scrollHeight) {
        isLoad = true;
        const respListArticlePage = await homeService.getArticles(this.keyword, this.page += 1);
        this.newListArticle = respListArticlePage.data.articles;
        this.listArticle = [...this.listArticle, ...this.newListArticle];
        isLoad = false;
      }
      return;
    }
  },
  mounted() {
    window.addEventListener("scroll", this.handleScroll);
  }

}
</script>

<style scoped>

</style>